

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(#141E46, #000) ;
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background-image: linear-gradient(#141E46, #302b63); 
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #FFF5E0;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #FFF5E0;
	justify-content: center;
	display: flex;
	margin: 25px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}


button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #FFF5E0;
	background: #C70039;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-top: 30px;
}
button:hover{
	background: #FF6969;
}
.login{
	height: 460px;
	background: #fff;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #141E46;
	transform: scale(.6);
}

form div{
	position: relative;
}

form small{
	color: #C70039;
	position: absolute;
	bottom: -20px;
	left: 60px;
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
