@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');


:root{
    --light-color: #FF6969;
    --dark-color: #C70039;
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #65ebe9cc; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(253, 147, 147, 0.4); 
}

.showcase section.container #form input:-webkit-autofill { 
    -webkit-background-clip: text;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
    margin: auto !important;
    background-color: #c6c6c6;
}

ul{
    list-style: none;
}

a{
    color: #000;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    padding: 0 10px;
    margin: auto;
}

.showcase{
    background-image: url(img/showcase.svg);
    width: 100%;
    height: 100vh;
    background-size: 90%;
    background-position: top right;
    background-repeat: no-repeat;
    aspect-ratio: 16/9;
}

header{
    height: 80px;
}

header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a .logo{
    width: 220px;
}

header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

header .navbar ul li a{
    margin-left: 100px;
    color: #FFF5E0;
    transition: color 0.2s ease-in-out;
}

header .navbar ul li a.current{
    color: var(--light-color);
    
}


header .navbar ul li a:hover{
    color: var(--light-color);

}

.showcase section.container{
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.showcase section.container h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    width: fit-content;
    color: #141E46;
    word-spacing: 5px;
    line-height: 1.2;
}

.showcase section.container p{
    font-size: 1.2rem;
    line-height: 1.1;
    color: #C70039;
    margin: 10px 0;
}

.showcase section.container #form{
    width: 105%;
}

.showcase section.container #form input{
    outline: none;
    border: none;
    padding: 17px 30px;
    width: 70%;
    background: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    margin: 20px 0; 
    border-top-left-radius: 10px;
}

.showcase section.container #form input::placeholder{
    color: #333;
    font-size: 0.8rem;
}

.showcase section.container #form button{
    padding: 20px 24px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    background: var(--dark-color);
    color: #fff;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    transition: background 0.2s ease-in-out;
}

.showcase section.container #form button:hover{
    background: var(--light-color);
}

form small.error-msg{
    width: 100%;
    color: #FF6969;
    display: block;
    padding: 10px;
    font-size: 0.8rem;
}


.showcase section.container img{
    width: 50%;

}

.what{
    width: 100%;
    height: 500px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/what-section.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.what .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.what .container img{
    width: 40%;
    margin-right: 30px;
}

.what .container .text-content{
    margin-left: 90px;
}

.what .container .text-content h2{
    font-size: 1.9rem;
    color: #141E46;
    margin: 10px 0;
    font-weight: 600;
}

.what .container .text-content p{
    font-size: 1.1rem;
    margin: 20px 0;
    color: #333;
    font-weight: 400;
}

.features{
    height: 500px;
    position: relative;
    background-image: url(img/scatter.svg);
    background-size: cover;
    background-position: center;
}

.features h2{
    position: absolute;
    left: 50%;
    color: #141E46;
    transform: translate(-50%, -100px);
    font-size: 2rem;
    word-spacing: 5px;
}

.features .feature-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 190px;
}

.feature-cards .feature-card{
    width: 250px;
    height: 380px;
    display: flex;
    flex-direction: column;
    color: #333;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.feature-cards .feature-card:hover img{
    transform: scale(1.2);
}

.feature-cards .feature-card img{
    width: 150px;
    height: 200px;
    border-bottom-left-radius: 20px;
    object-fit: fill;
    margin:  10px 0 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease-in-out;
}

.feature-cards .feature-card:hover {
    transform: scale(0.9);
    color: #141E46;
}



.feature-cards .feature-card .text-content{
    width: 90%;
}

.feature-cards .feature-card .text-content p{
    margin: 20px 0;
}


.importance{
    height: 500px;
    background-image: url(img/importance.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.importance .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.importance .container img{
    width: 40%;
}

.importance .container h2{
    font-size: 2.2rem;
    color: #141E46;
    margin-bottom: 20px;
}


.importance .container li{
    list-style: circle;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 1.3rem;
    color: #333;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    position: relative;
}

.importance .container li .description{
    background: #FF6969;
    padding: 24px;
    text-align: center;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    border-radius: 20px;
    border-top-left-radius: 0;
    position: absolute;
    margin-top: 10px;
    left: 10%;
    pointer-events: none;
    z-index: 2;
    transform: translateX(-1000px);
    transition: 0.5s ease-in-out;
}

.importance .container li:hover{
    color: #141E46;
}

.importance .container li:hover .description{
    transform: translateX(0);
    color: #FFF5E0;
}

.choose{
    margin: 200px 0;
    position: relative;
    background-image: url(img/scatter.svg);
    background-size: contain;
    background-position: center;
}

.choose h2{
    position: absolute;
    left: 50%;
    color: #141E46;
    font-size: 1.7rem;
    transform: translate(-50%, -100px);
}

.choose .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose .container img{
    width: 35%;
}

.choose .text-content{
    width: 60%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 35px;
}

.text-content .content1, .text-content .content2, .text-content .content3{
    background: #FF6969;
    padding: 10px;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5E0;
    flex-direction: column;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
} 

.text-content .content1:hover, .text-content .content2:hover, .text-content .content3:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: #333;
}

.text-content h3{
    margin-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.text-content .content1:hover h3, .text-content .content2:hover h3, .text-content .content3:hover h3{
    font-size: 1rem;
}


.footer{
    height: 300px;
    background-image: url(img/footer.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF5E0;
    background-color: #141E46;
}

.footer.current{
    height: 600px;
}

.footer .container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer.current .container{
    min-height: calc(100vh - 600px);
}

.footer{
    overflow: hidden;
}

.footer .container{
    text-align: center;
    transform: translateY(50px);
}


.footer h2{
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.footer .container p{
    font-weight: 500;
    margin-bottom: 40px;
}

.footer .container p a{
    color: #000000;
    margin: 0 10px;
}

.footer .container p a i{
    font-size: 20px;
    color: #fff;
    transition: color 0.2s ease-in-out;
}


.footer .container p a i:hover{
    color: #C70039;
}





.footer .container small{
    font-size: 1rem;
}



/*
.text-content .content1{
    width: 50%;
    grid-row: 1/2;
    grid-column: 1/2;
}

.text-content .content2{
    width: 50%;
    grid-row: 2/3;
    grid-column: 2/3;
}

.text-content .content3{
    width: 50%;
    grid-row: 3/4;
    grid-column: 1/2;
} */


section.page-info{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-info .chart{
    width: 300px;
    height: 300px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.page-info img.screen{
    height: 300px;
    width: 300px;
    width: 100%;
}

.page-info small{
    color: #C70039;
}

.page-info h2{
    grid-column: 1/3;
    color: #141E46;
} 


section.results{
    width: 100%;
    height: 100vh;
    display: grid;
    padding: 0 2%;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 1fr;
    border-top: 1px solid #141E46;
    margin-bottom: 8px;
}

.results .navigator{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.results nav{
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0;
    height: 100%;
    background: #141E46;
}

.results nav a{
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF5E0;
    cursor: pointer;
    margin-left: 2px;
    font-size: 1.1rem;
}

.results nav a:first-child div{
    padding: 9px;
    
}

.results nav a.active{
    background-color: #c6c6c6;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #141E46;
}

.results nav a span{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background: #C70039;
    color: #FFF5E0;
    border-radius: 10px;
    margin-left: 5px;
}

.dropdown{
    position: relative;
    width: 100%;
}

.dropdown .error-links{
    position: absolute;
    top: 100%;
    left: 5%;
    background: #FFF5E0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);  
    opacity: 0;
    transform: translateY(10px);
    z-index: 100;
    pointer-events: none;
    transition: 0.2s ease-in-out;
}


.dropdown .error-links.show-drp{
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.dropdown .error-links li{
    padding: 0 15px;
    border-bottom: 1px solid #141E46;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}



.dropdown .error-links li span{
    padding: 10px;
    min-width: 40px;
    text-align: center;
    margin-left: 50px;
    background-color: #C70039;
    margin: 5px 0;
    border-radius: 10px;
    color: #FFF5E0;
    font-size: 15px;
}

.dropdown .error-btn span{
    background: none;
    padding: 0;
}
.dropdown .error-btn span i{
    height: 100%;
    margin-top: 9px;
    color: #FFF5E0;
}

.results nav a.active span i{
    color: #141E46;
}

.dropdown .error-btn span i:last-child, .dropdown .error-btn span.show-spn i:first-child{
    display: none;
    color: #141E46;
}

.dropdown .error-btn span.show-spn i:last-child{
    color: #141E46;
    display: block;
}

.dropdown .error-links li:last-child{
    border: none;
}


.dropdown .error-links li:hover{
    background: #FF6969;
    border-radius: 10px;
}

.results .result-display{
    grid-column: 2/3;
    background-color: #c6c6c6;
    overflow-y: scroll;
}

.result-display .warnings, .result-display .notices{
    display: none;
}

.results .accordian{
    width: 100%;
}

.accordian .content-box{
    position: relative;
    margin: 20px 20px;
}

.accordian .content-box h3{
    position: relative;
    font-weight: 500;
    padding: 10px;
    background: #c6c6c6;
    overflow-wrap: break-word;
    color: #141E46;
    box-shadow: 0 0 5px #C70039;
    z-index: 1;
    cursor: pointer;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.accordian .content-box h3 span{
    margin-right: 29px;
    word-break: break-all;
}

.accordian .content-box h3::before{
    content: "+";
    position: absolute;
    top: 50%;
    margin-left: 50px;
    right: 18px;
    z-index: 2;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 400;
}

.accordian .content-box .text-content{
    position: relative;
    height: 0;
    overflow: hidden;
    background: #c6c6c6;
    color: #141E46;
    transition: 0.4s ease-in;
    box-shadow:  0 0 5px #C70039;
    overflow-y: auto;
}

.accordian .content-box .h4{
    width: fit-content;
    margin: 10px 0;
    margin-left: 10px;
    font-family: 'Source Code Pro', monospace;
    word-break: break-all;
    color: #FFF5E0;
}

.accordian .content-box h4{
    width: 100%;
    padding: 10px 20px;
    background: #141E46;
    font-weight: 400;
    margin-bottom: 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
}

.accordian .content-box h5{
    font-weight: 500;
    margin-bottom: 10px;
    color: #C70039;
    margin-left: 10px;

}

.accordian .content-box p{
    margin: 0 10px;
    font-size: 0.9rem;
}

.accordian .content-box.active .text-content{
    height: auto;
    padding: 30px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accordian .content-box.active h3{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}



.accordian .content-box.active h3::before{
    content: "-";
}

/* History Page */

section.history{
    margin: 40px auto;
    height: 100%;
}

.history .hist-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.history .hist-cards .hist-card{
    margin: 0 20px;
    background: #FFF5E0;
    max-width: 350px;
    padding: 10px;
    border-radius: 10px;
    min-height: 210px;
    color: #141E46;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 5px #C70039;
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.history .hist-cards .hist-card:hover{
    transform: translateY(-4px);
}

.hist-card h3{
    margin: 10px 0;
    font-weight: 500;
    font-size: 1.2rem;
    width: 86%;
}

.hist-card > p{
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: #141E46;
}

.hist-card > p span{
    color: #C70039;
}

.hist-card .summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.hist-card .summary i{
    font-size: 8px;
    vertical-align: middle;
    margin-right: 5px;
}

.hist-card .summary p:first-child i{
    color: #C70039;
    border: 1px solid #333;
    border-radius: 50%;
}

.hist-card .summary p:nth-child(2) i{
    color: #FF9843;
    border: 1px solid #333;
    border-radius: 50%;
}

.hist-card .summary p:last-child i{
    color: #F8E559;
    border: 1px solid #333;
    border-radius: 50%;
}

.hist-card a{
    cursor: pointer;
    margin-bottom: 10px;
    color: #141E46;
}

.hist-card a:hover i{
    padding-left: 5px;
}

.hist-card a.remove i{
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 10px;
    background: #C70039;
    color: #fff;
    border-radius: 10px;
}

@media (max-width: 900px){

    .container{
        padding: 20px;
    }

    header .navbar{
        padding: 0 10px;
    }

    .what .container .text-content h2{
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .what .container .text-content p{
        font-size: 1rem;
        font-weight: 400;
    }

    .features{
        height: auto;
    }

    .features h2{
        transform: translate(-50%, -10px);
    }

    .features .feature-cards{
        margin: 70px 0;
        row-gap: 40px;
        justify-content: center;
    }

    .importance .container h2{
        font-size: 1.6rem;
        padding-left: 20px;
        margin-top: 20px;
    }

    .importance .container ul{
        margin-top: 50px;
    }

    .importance .container li{
        font-size: 1.1rem;
        padding-left: 10px;
        
    }

    .choose .container{
        display: flex;

    }

    .text-content .content1, .text-content .content2, .text-content .content3{
        width: 100%;
        height: 150px;
        border-radius: 10px;
    } 

    .choose .text-content{
        width: 100%;
    }
}

@media (max-width: 768px){

    .showcase{
        background-size: 120%;
    }

    .showcase section.container #form input{
        width: 350px;
        border-top-left-radius: 0px;
        margin: 10px 0 ;
    }

    .showcase section.container #form button{
        border-bottom-right-radius: 0px;
        margin: 0;
    }

    .showcase section.container p{
        line-height: 1.5;
        width: 400px;
    }
    .accordian .content-box .h4{
        margin-left: 0;
    }

    .history .hist-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 520px){

   .showcase{
        background-image: none;
        height: auto;
   }


   header .navbar ul li a.current, header .navbar ul li a:hover{
        color: #141E46;
    
    }

    header a .logo{
        margin-bottom: 10px;
    }

    #container{
        display: none;
    }
   

   .showcase section.container h1, .showcase section.container p{
        text-align: center;
        width: 100%;
   }

   .showcase section.container h1{
    margin-top: 20px;
   }

   .showcase .left-content{
    width: 100%;
   }

   .showcase section.container #form input{
    padding: 10px 20px;
    box-shadow: 0 0 5px #C70039;
    border-radius: 10px;
    width: 90%;
   }

   .showcase section.container h1{
    font-size: 1.5rem;
   }

   .showcase section.container p{
    width: 100%;
   }

   .showcase section.container #form button{
    padding: 10px 24px;
        background-color: #C70039;
        border-radius: 10px;
        margin-top: 10px;
   }

   .showcase section.container{
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
        text-align: center;
   }

   header{
    width: 100%;
    height: auto;
   }

   header .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        width: 100%;
   }

   a .logo span{
    color: #FFF5E0;
   }


   header .navbar ul li a{
    margin: 0;
    padding: 10px 20px;
    background-color: #C70039;
    }

    header .navbar ul li:first-child a{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    header .navbar ul li:last-child a{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

   .showcase section.container img{
        width: 80%;
   }

   .what{
        height: auto;
   }

   .what .container, .importance .container, .choose .container{
    flex-direction: column;
    text-align: center;
   }

   .what .container img, .choose .container img, .importance .container img{
    width: 80%;

   }

   .what .container .text-content, .what .container img, .importance .container ul li{
    margin: 0;
   }

   .what .container .text-content{
    margin-top: 20px;
   }

   .features div{
    width: 100%;
    text-align: center;
   }
   .features div h2{
    width: 100%;
   }


   .importance{
    height: fit-content;
    overflow-x: hidden;
    /* overflow-y: hidden; */
   }

   .importance .container{
    height: 100%;
   }
 
    .importance .container ul li{
    list-style: none;
    margin-bottom: 20px;
   }

   .choose h2{
    width: 100%;
    text-align: center;
   }

   .choose .container img{
    max-width: 300px;
   }

   .choose .text-content{
    width: 100%;
    margin-top: 20px;
    row-gap: 10px;
   }

   section.page-info{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
   }

   .page-info img.screen{
    width: 80%;
    height: auto;
    order: -1;
   }


   .page-info .chart{
    width: 80%;
    object-fit: contain;
   }


   section.results{
    display: block;
    overflow-y: scroll;
   }

   .results .navigator{
    display: block;
   }

   .results nav{
    flex-direction: row;
    row-gap: 0;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
   }
   
   
   
    .results nav::-webkit-scrollbar{
        display: none;
    }

    .results nav a.active{
        border-radius: 0;
        padding: 12px 20px;
    }

    
    .dropdown .error-links.show-drp{
        position: relative;
    }

    .accordian .content-box h3{
        font-size: 0.9rem;
    }

    .accordian .content-box h4{
        font-size: 14px;
        font-weight: 400;
    }

    .text-content .content1, .text-content .content2, .text-content .content3{
        height: auto;
        max-width: 300px;
    } 

    .footer h2{
        font-size: 1.4rem;
        margin-bottom: 30px;
    }


    .footer .container span{
        display: none;
    }

    .footer .container small{
        font-size: 0.8rem;
    }


    .history .hist-cards{
        display: flex;
        flex-wrap: wrap;
    }

    .hist-cards .hist-card{
        width: 300px;
    }

}